#FUSE temporary files
.fuse*

#Compiled Object Files
*.o

#Executables
*.out
EasyASM
/scrips/lemon/lemon

#Directories
/generated

#Header files
mips32_parser.h
x86_parser.h

#Netbeans project
nbproject/

#C sample source files
csrc/
